@page "/"
@page "/avaleht"
@page "/home"

<PageTitle>Enterbot</PageTitle>
<h1>Avaleht</h1>
<div class="content">
    <div class="update-list">
        <h4>Hetkel olemas:</h4>
        <ul>
            <li>Koolitamine</li>
            <li>Töökoht</li>
            <li>Maailma uuesti alustamine</li>
            <li>Korraga mitu uuendust</li>
            <li>Mafioosode palkamine</li>
            <li>Maffia levelid</li>
            <li>Turva</li>
            <li>Edetabel</li>
            <li>Hariduse spam bot</li>
            <li>Profiil</li>
            <li>Turg (toidu sektsioon ainult)</li>
            <li>Kinnisvara levelid</li>
            <li>Ründamine</li>
            <li>Erinevad botid</li>
            <li>Relvad</li>
        </ul>
    </div>
    <div class="update-list">
        <h4>Järgmisena:</h4>
        <ul>
            <li>Sündmused</li>
            <li>Autoplay: tee käik nagu oleksid bot</li>
            <li>Strateegilised botid</li>
            <li>Kiiremad uuendused</li>
            <li>Erinevad edetabelid</li>
            <li>Kambad</li>
        </ul>
    </div>
</div>