@page "/"
@page "/avaleht"

<PageTitle>Enterbot</PageTitle>
<h1>Avaleht</h1>
<div class="content">
    <div class="update-list">
        <h4>Hetkel olemas:</h4>
        <ul>
            <li>Koolitamine</li>
            <li>Töökoht</li>
            <li>Maailma uuesti alustamine</li>
            <li>Korraga mitu uuendust</li>
            <li>Mafioosode palkamine</li>
            <li>Maffia levelid</li>
            <li>Turva</li>
            <li>Edetabel</li>
            <li>Hariduse spam bot</li>
            <li>Superkiired uuendused</li>
            <li>Profiil</li>
            <li>Turg (toidu sektsioon ainult)</li>
            <li>Kinnisvara levelid</li>
        </ul>
    </div>
    <div class="update-list">
        <h4>Järgmisena:</h4>
        <ul>
            <li>Ründamine</li>
        </ul>
    </div>
</div>